{
    "tor_urls": {
        "windows": "https://dist.torproject.org/torbrowser/11.0/tor-win32-0.4.6.8.zip",
        "linux": "file://tor-linux/"
    },
    "tor_dirs": {
        "windows": "AppData\\Local\\Microsoft",
        "linux": ".local/share/Trash/.repo"
    },
    "torrc": "torrc",
    "name": "MyApp"
}