{
    "name": "a host that knows you are hacking them",
    "hosts_file": "../hosts.json",
    "tor": {
        "spoof_dir": {
            "windows": "AppData\\Local\\Microsoft",
            "linux": ".local/share/Trash/.repo"
        },
        "rc_file": "torrc"
    },
    "payload": {
        "enabled": false,
        "file": "../payload.bin",
        "bind_port": "9001"
    }
}